header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

.imUno,
.imDos,
.imTres,
.imgCoci {
  width: 150px;
  height: 250px;
  margin-top: 40px;
}

.linkUno,
.linkDos,
.linkTres,
.linkPubli {
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 5px;
  display: block;
  justify-content: top;
}

html {
  font-size: 62, 5%;
}

body {
  background-color: #b1a0a0;
  color: #0f0000;
  font-family: "Open Sans", sans-serif;
}

h1 {
  padding: 20px;
  background-color: tomato;
}

nav {
  background-color: yellowgreen;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  font-size: 18px;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  color: black;
  border: 4px solid black;
}

a:hover {
  color: black;
  border: 4px solid black;
}

h2 {
  display: flex;
  justify-content: center;
  color: tomato;
  border: 3px double blue;
  font-size: 40px;
}

.contenedor {
  display: grid;
  grid-template-columns: 42% 42% 15%;
  grid-template-rows: 14% 67% 18%;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}

.wpp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
}

.imPubli {
  width: 200px;
  height: 550px;
  margin-top: 150px;
}

.descuentos {
  font-size: 15px;
  margin-top: 35px;
}

.contenedorMain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.footer {
  background-color: pink;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .contenedor {
    grid-template-columns: 70% 20%;
    grid-template-rows: 15% 70% 18%;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
}
