html {
  font-size: 62, 5%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.nombrePagina {
  font-size: 50px;
  background-color: rgb(218, 233, 6);
}
.navegador {
  font-size: 25px;
  background-color: rgb(233, 233, 184);
  text-decoration: none;
}

.titulo {
  color: red;
  text-align: center;
  font-size: 50px;
  border-style: double;
}
.imUno {
  width: 200px;
  height: 100px;
}
.imDos {
  width: 200px;
  height: 100px;
}
.imTres {
  width: 150px;
  height: 250px;
}
.linkUno {
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: top;
}
.linkDos {
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: top;
}
.linkTres {
  font-size: 15px;
  margin-bottom: 60px;
  margin-top: 5px;
  display: flex;
  justify-content: top;
}

.descuentos {
  font-size: 15px;
  margin-top: 40px;
}
.calendario {
  width: 450px;
  height: 350px;
}
ul li {
  display: inline-block;
  padding-left: 40px;
}

.imPubli {
  width: 200px;
  height: 550px;
  margin-top: 200px;
}
.linkPubli {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer {
  background-color: rgb(67, 184, 63);
  margin-left: 10px;
}
.bodyIndex {
  background-color: rgb(251, 223, 129);
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}
.wpp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
}
.bodyCocina {
  background-color: rgb(220, 199, 240);
  font-family: "Open Sans", sans-serif;
}
.bodyBanio {
  background-color: aquamarine;
}
.bodyHabitacion {
  background-color: rgb(238, 138, 120);
}
.bodyLiving {
  background-color: rgb(140, 221, 124);
}

.contenedor {
  display: grid;
  grid-template-columns: 40% 40% 15%;
  grid-template-rows: 10% 71% 19%;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
.contenedorMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: stretch;
}
