@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "layout/body";
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/footer";

@media (min-width: 300px) and (max-width: 1300px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  aside {
    display: none;
  }
}
