%imagenes {
  object-fit: none;
}

%imagen {
  width: 150px;
  height: 250px;
  margin-top: 40px;
}

%links {
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 5px;
  display: block;
  justify-content: top;
}
